<!-- Audi Navigation Bar -->
<nav class="futuristic-nav">
    <div class="nav-container">
        <!-- Back button will be dynamically added by JavaScript -->
        <div class="nav-back-container" id="navBackContainer"></div>
        
        <div class="nav-logo">
            <a href="index.html">
                <img src="Images/AUDI.LOGO/audi.png" alt="Audi" class="logo">
            </a>
        </div>
        
        <!-- Main navigation links -->
        <div class="nav-links" id="mainNavLinks">
            <!-- Will be populated by JavaScript based on current page -->
        </div>
        
        <div class="nav-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>
